.image-container {
    width: auto;
    height: 100vh;
    overflow:hidden;
}

.image-container img {
    width: 100vw;
    height: auto;
}

/* gérer la logique pour faire apparaitre ou cacher chaque image */

.image-carousel.active {
    display: block;
}

.image-carousel.hidden {
    display: none;
}
/* les boutons */

.nav-button.left, .nav-button.right {
    position: absolute;
    top: 50%;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}