.image-container {
    width: auto;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* gérer la logique pour faire apparaitre ou cacher chaque image */

.image-carousel {
    position: absolute;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    transition: opacity 1 ease-in-out;
    pointer-events: none;
}

.image-carousel.active {
    opacity: 1;
}

.image-carousel.hidden {
    opacity: 0;
}
/* les boutons */

.nav-button.left, .nav-button.right {
    position: absolute;
    top: 50%;
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.nav-button.left img, .nav-button.right img {
    width: 4.5em;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}