@media (min-width: 768px) {
    .footer {
        display: none;
    }
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        background-color: transparent;
        height: 10px;
        background: #de4a9a;
        position: fixed;
        margin: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .footer img {
        width: 11rem;
    }
}
