.modal .texte p {
    font-size:  clamp(12px, 3vw, 24px);
    font-family: 'Crimson Text';
}

@media (min-width: 768px) {
    .modal {
    width: 450px;
    height: 450px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/elements/modal-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    z-index: 999;
    padding-right: 80px;
}

.modal .texte {
    text-align: center;
    z-index: 1001;
    width: 300px;
}
}

@media (max-width: 768px) {
    .overlay {
        justify-content: center;
        align-items: flex-start;
        padding-right: 0;
        padding-top: 80px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        display: flex;
        align-items: start;
        justify-content: flex-end;
        z-index: 999;

    }

    .modal {
        width: 65dvw;
        height: 75dvw;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../assets/elements/modal-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
}

    .modal .texte {
        width: 45dvw;
        text-align: center;
        z-index: 1001;
    }
}