@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    line-height: 1;
    background: #de4a9a;
}

#root {
    height: 100%;
}

.main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .main {
        height: 100dvh;
        display: flex;
        flex-direction: column;
    }
}