html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    line-height: 1;
}

#root {
    height: 100%;
}

.main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@media (max-width: 767px) {
    .main {
        height: 100dvh;
        display: flex;
        flex-direction: column;
    }
}